@font-face {
	font-family: 'Fugaz One';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/fugazone/v19/rax_HiWKp9EAITukFsl8Axhf.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	margin: 0;
}

a {
	text-decoration: none !important;
}

#wrapper {
	position:relative;
	min-height:100%;
}

.content{
	max-width: 1000px;
	width: 96%;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

#header {
	background-color: #153b68;
	margin: 0 auto;
	position: relative;
	min-height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 20px;
	box-sizing: border-box;
	text-align: left;
	background-size: cover;
}

#header .logo{
	display: inline-block;
	text-align: left;
	margin: 40px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
}
#header .logo p{
	margin: 0;
	padding-bottom: 15px;
}
#header .logo h1{
	font-family: 'Fugaz One', cursive;
	font-weight: 400;
	font-size: 60px;
	color: #fff;
	line-height: 110%;
	margin: 0;
}
#header .logo a{
	font-family: 'Fugaz One', cursive;
	font-weight: 400;
	font-size: 60px;
	color: #fff;
	line-height: 110%;
	margin: 0;
}

#title {
	margin-top: 50px;
}

#menu{
	display: none;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	height: 50px;
	background: #173353;
	z-index: 5;
	position: fixed;
	top: 0;
}

#nav-trigger span {
	display: inline-block;
	cursor: pointer;
	font: normal 28px/28px "responsivenav";
	color: #fff;
	position: absolute;
	left: 20px;
	top: 12px;
}

nav#nav-main {
	display: none;
	text-align: center;
	padding-top: 12px;
}
nav#nav-main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
nav#nav-main li {
	display: inline-block;
	margin-right: 12px;
	padding-bottom: 10px;
}

nav#nav-main li:hover ul {
	display: block;
}

nav#nav-main a {
	display: inline-block;
	text-decoration: none;
	color: #6e7d87;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 16px;
	cursor: pointer;
}
nav#nav-main a:hover {
	color: #4b555c;
}

nav#nav-mobile .mostrar-itens{
	background: #1e2630;
}
nav#nav-mobile .scroller {
	background: #252f3b;
	overflow-y: scroll;
	position: absolute;
	width: 370px;
	height: 100%;
}
nav#nav-mobile .nav-bg {
	display: none;
	list-style-type: none;
	text-align: center;
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 352px;
	z-index: 3;
}
nav#nav-mobile {
	position: relative;
	display: none;
}

nav#nav-mobile ul {
	list-style-type: none;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0px;
	text-align: center;
	z-index: 1;
}
nav#nav-mobile li {
	display: block;
	padding: 5px 0;
	margin: 0 5px;
	border-bottom: solid 1px #27343b;
	text-align: center;
}
nav#nav-mobile li:last-child {
	border-bottom: none;
}
nav#nav-mobile a {
	display: block;
	color: #fff;
	padding: 10px 30px;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
}
nav#nav-mobile a:hover {
	color: #fff;
	transition: 0.1s;
}

#body{
	background-color: white;
	position: relative;
	padding-bottom: 150px;
	text-align: left;
	min-height: 250px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#body .content{
	padding: 0 20px;
}

#body .row{
	margin: 30px auto;
}

#body h1{
	color: #282828;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;
	text-transform: none;
}

#body h1.entry-title{
	color: #153b68;
	font-family: 'Fugaz One', cursive;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-left: 0;
}

#body h1.entry-title img{
	max-height: 38px;
	vertical-align: middle;
	padding-right: 10px;
}

#body .entry-content p{
	margin: 0;
	margin-bottom: 12px;
}

#body .entry-content h1{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 18px;
}

#body .entry-content form input {
	width: 100%;
	margin-bottom: 10px;
	border: 2px solid #153b68;
	background-color: white;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

#body .entry-content form input:focus {
	background-color: #153b68;
	color: white;
}

#body .entry-content form button {
	margin-top: 10px;
	border: 2px solid #153b68;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
}
#body .entry-content form button:hover {
	background-color: #153b68;
	color: white;
}

#body strong{
	color: #282828;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 18px;
	text-transform: none;
}

#body .menu .grid{
	width: 25%;
	display: inline-block;
	text-align: center;
}

#body .menu .item-menu{
	background-color: #dde3e9;
	color: #153b68;
	display: inline-block;
	width: 130px;
	min-height: 130px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 13px;
	border-radius: 8px;
	vertical-align: top;
	margin: 10px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	text-transform: uppercase;
}

#body .menu .item-menu:hover{
	background-color: #bbbfc4;
}

#body .menu .item-menu span{
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: 90%;
}

#body .menu .item-menu img{
	display: block;
	margin: 0 auto;
	padding-bottom: 15px;
}

#body .texto{
	display: inline-block;
	width: 66%;
	box-sizing: border-box;
	padding: 0 20px 0 0;
}

#body .submenu{
	background-color: #dde3e9;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	box-sizing: border-box;
	margin: 0 0 0 20px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 8px;
}

#body .submenu li{
	display: block;
}

#body .submenu li img{
	max-height: 20px;
	vertical-align: middle;
	padding-right: 10px;
}

#body .submenu a {
	color: #153b68;
	display: block;
	width: 100%;
	font-weight: 900;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding: 5px 0;
	text-align: left;
	box-sizing: border-box;
	font-display: swap;
}

#body .integrante {	
	margin-top: 30px;
	text-align: left;
}

#body .integrante p {
	margin: 0;
	padding: 0;
}

#body .integrante .platform-links{
	display: flex;
	justify-content: flex-end;
}

#body .integrante .grid {
	padding: 0;
	margin-bottom: 10px;
}

#body .integrante .grid a{
	display: flex;
	align-items: center;
}

#body .platforms {
	max-width: 28px; 
	max-height: 28px;
	margin-right: 5px;
	margin-left: 5px;
}

#footer {
	position:absolute;
	bottom: 0;
	left: 0;
	min-height: 100px;
	width: 100%;
	background-color: #173353;
}
#footer .unisantos{
	max-width: 177px;
	width: 99%;
	margin-top: 25px;
}
#footer .participar{
	float: right;
	margin-top: 20px;
}
#footer .participar p{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
}
#footer .participar img{
	width: 40px;
}

#footer .participar div{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width:960px) {
	#body .menu .grid{
		width: 20%;
	}
}

@media screen and (max-width:850px) {

	#wrapper{
		padding-top: 50px;
	}

	#header .content{
		padding-top: 30px;
	}

	#menu .content{
		width: 100%;
		padding: 0;
	}

	#body .texto {
		display: inline-block;
		width: 99%;
		margin-left: 0px;
	}

	#menu {
		display: block;
	}

	#body .submenu {
		display: none;
	}

	#nav-trigger {
		display: block;
	}
	nav#nav-main {
		display: none;
	}
	nav#nav-mobile {
		display: block;
	}
}

@media screen and (max-width:790px) {
	#body .menu .grid{
		width: 25%;
	}

	#body .integrante .platform-links{
		display: flex;
		justify-content: flex-start;
	}
}

@media screen and (max-width:680px) {

	#header .unisantos{
		margin-top: 20px;
	}

	#header .logo{
		line-height: 30px;
	}
	#header .logo h1{
		font-size: 36px;
	}
	#header .logo a{
		font-size: 36px;
	}
	#body .menu .item-menu{
		width: 90%;
	}
}

@media screen and (max-width:600px) {
	#body .menu .grid{
		width: 33%;
	}
}

@media screen and (max-width:500px) {
	#footer .unisantos{
		display: none;
	}
}

@media screen and (max-width:480px) {
	#body .menu .grid{
		width: 49%;
	}
}

@media screen and (max-width:360px) {

	#header .logo h1{
		font-size: 30px;
	}
	#header .logo a{
		font-size: 30px;
	}
	#body .menu .grid{
		width: 99%;
	}
	#body .menu .item-menu{
		width: 98%;
		margin: 8px auto;
		min-height: 170px;
	}
}